p.howwework_paragraph {
    margin: 80px 0px;
    line-height: 2;
    text-align: center;
}

section {
    background: #f9fafc 0% 0% no-repeat padding-box;
}

.display-spacing {
    background: #f9fafc 0% 0% no-repeat padding-box;
}

.post-item a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: 400;
}